a {
  text-decoration: none;
  color: rgb(61, 61, 61);
}

ul {
  list-style: none;
}

/* 占쎄땀�뜮袁㏃쓺占쎌뵠占쎈�� 筌롫뗀�뤀 */
.nav-menu {
  display: flex;
  font-size: 1.1rem;
}

.nav-menu li {
  margin: 0px 35px;
}

.implyeement_apply {
  margin: 5px 0px;
}

.volunteer_management {
  margin: 5px 0px;
}

.implyeement_apply:hover {
  font-weight: bold;
  text-decoration: underline;
}

.volunteer_management:hover {
  font-weight: bold;
  text-decoration: underline;
}

.summationboard:hover {
  font-weight: bold;
  text-decoration: underline;
}

.applyinfo:hover {
  font-weight: bold;
  text-decoration: underline;
}

.applyinfo:hover {
  font-weight: bold;
  text-decoration: underline;
}

.applyservice:hover {
  font-weight: bold;
  text-decoration: underline;
}

/* 嚥≪뮄�젃占쎌뵥 占쎌돳占쎌뜚揶쏉옙占쎌뿯 */
.login:hover {
  font-weight: bold;
  text-decoration: underline;
}

.join:hover {
  font-weight: bold;
  text-decoration: underline;
}

/* 筌롫뗄�뵥 �뚢뫂�믭옙�뵠占쎄섐 揶쏄쑨爰� 鈺곌퀣�젟 */
.main-container {
  padding: 50px 20px;  
}

.board-container {
  margin-top: 20px;
}


/* 疫꿸퀣毓� 占쎌젟癰귨옙 */
.apply {
  width: 80%;
  margin: 50px auto 10px auto;
  font-size: 0.9rem;
}

.apply_title_container {
  width: 80%;
  margin: 0px auto;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 7px;
}

.apply_title {
  margin: 5px 0px;
  font-size: 1.2rem;
  font-weight: bold;
}

.apply_addr {
  margin: 5px 0px;
  font-size: 0.8rem;
  color: rgb(100, 100, 100);
}

.apply_content_container {
  width: 80%;
  min-height: 500px;
  margin: 0px auto;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 7px;
}

/* 疫꿸퀣毓쏙옙�젟癰귨옙 占쎌뒄占쎈튋 */
.summation_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 40px auto 10px auto;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding-bottom: 10px;
}

.summation_container {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.summation_list_container {
  border: 1px solid rgb(223, 223, 223);
  margin: 5px auto;
  width: 350px;
  height: 105px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
}

.summation_list_item {
  margin: 10px 10px;
  font-size: 0.8rem;
  color: rgb(100, 100, 100);
}

/* 筌욑옙占쎌뜚占쎈릭疫뀐옙 */
.apply_button {
  display: block;
  width: 30%;
  margin: 24px auto 0px;
  background-color: #4c7bc9;
  line-height: 48px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

/* 占쎌뵥疫꿸퀗�궗�⑨옙 */
.favor_apply_area {
  width: 15%;
}

.main-container {
  text-align: center;
  width : 90%;
  max-width: 1200px;
  padding: 50px 20px;
  height: auto;
  margin: 0 auto;
}

.viewBtn {
  background-color: #4c7bc9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-right: 10px;
  margin-top: 30px;
}

.viewBtn:last-child {
  margin-right: 0; /* 筌띾뜆占쏙쭕占� 甕곌쑵�뱣占쎌벥 占쎌궎�몴紐꾠걹 占쎈연獄쏉옙 占쎌젫椰꾬옙 */
}

.viewBtn:hover {
  background-color: #3a5a9e;
}