a {
  text-decoration: none;
  color: rgb(61, 61, 61);
}

ul {
  list-style: none;
}

/* 占쎈쐻占쎈윞占쏙옙�뜝�럥�몡�넭怨λ즰占쎈쿊占쎈쐻占쎈윪�얠±�쐻占쎈윥�뜝�룞�삕 癲ル슢�닪占쏙옙�뜝�럥占� */
.nav-menu {
  display: flex;
  font-size: 1.1rem;
}

.nav-menu li {
  margin: 0px 35px;
}

.implyeement_apply,
.volunteer_management {
  margin: 5px 0px;
}

.implyeement_apply:hover,
.volunteer_management:hover,
.freeboard:hover,
.companyinfo:hover,
.applyinfo:hover,
.companyservice:hover,
.login:hover,
.join:hover {
  font-weight: bold;
  text-decoration: underline;
}

/* 癲ル슢�닪占쎈씔�뜝�럥�뜲 �뜝�럥�뒖泳�洹⑥삕沃섓옙占쎌굲�뜝�럥�꼧占쎈쐻占쎈윞占쎄섯 占쎈쨬占쎈즲占쎈쳟占쎈뙀�뜝占� 占쎈뙑�⑤슦占쏙퐦�삕占쎌젳 */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  text-align: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* 占쎈쐻占쎈윪�앓듬쐻占쎈윥獄��뭿�뒙占쎈뙔占쎌굲 占쎈눇�뙼蹂��굲占쎈쐻占쎈윞占쎈룿 */
.main_apply {
  text-align: center;
}

.intro {
  width: 80%;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

/* 占쎈쐻占쎈윪�앓듬쐻占쎈윥獄��뭿�뒙占쎈뙔占쎌굲 占쎈눇�뙼蹂��굲占쎈쐻占쎈윞占쎈룿 */
.intro input {
  width: 100%;
  height: 40px;
  border: 1px solid #c9c9c9;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 0.9rem;
}

.intro input::placeholder {
  font-size: 0.9rem;
}

.div_container {
  display: flex;
  width: 80%;
}

/* 占쎈쐻占쎈윪�앓룸섀饔낅챸占쎌�λ쐻�뜝占� �뜝�럥�렓�뜝�럥遊얕짆�쉩�쐻占쎈윥獄�占�(占쎈쐻占쎈윪占쎄껑占쎈쐻占쎈윪�뜝占� 占쎈눇�뙼�봿�뮝�뜝�럥六ｏ옙�쐻占쎈윥占쎈꺑) */
.board-container {
  width: 80%;
  margin: 0px 0px 80px 0px;
  display: flex;
  justify-content: space-between;
}



/* 占쎈쐻占쎈윪�앓룸섀饔낅챸占쎌�λ쐻�뜝占� �뜝�럥�렓�뜝�럥遊얕짆�쉩�쐻占쎈윥獄�占�(癲ル슪�삕�넭怨ｋ쳴占쎈츛占쎈쐻占쎈윪占쎌젳占쎌녃域밟뫁�굲) */
.apply_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding-bottom: 10px;
  margin-top: 20px;
  min-width: 735px;
}

.apply-container {
  display: flex;
  justify-content: space-between;
  min-width: 735px;
  min-height: 630px;
}

.apply_list {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.apply_position {
  position: relative;
}

.post {
  position: absolute;
  right: 5%;
  top: 3%;
}

.company_logo {
  border: none;
}

.company_name {
  font-size: 0.8rem;
  color: rgb(124, 124, 124);
}

.company_title {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(73, 73, 73);
  padding: 5px 0px;
}

.company_score {
  font-size: 0.7rem;
  color: rgb(124, 124, 124);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company_apply {
  margin: 20px 40px;
}

/* 癲ル슔�걠獒뺣돍�삕筌묕옙 �뜝�럥�렓�뜝�럥遊얕짆�쉩�쐻占쎈윥獄�占� */
aside {
  margin: 0px 40px;
}

.aside_container {
  margin-left: 35px;
  width: 90%;
  height: 100%;
  background-color: rgb(248, 248, 248);
}

.new_apply_list_title {
  font-size: 0.8rem;
  color: rgb(124, 124, 124);
  font-weight: bold;
  margin: 10px;
  text-align: left;
  padding-top: 15px;
}

.new_apply_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0px;
}

.new_apply_list img {
  margin: 0px 7px;
}

.new_apply_company_name {
  font-size: 0.75rem;
  color: rgb(124, 124, 124);
}

.new_apply_title {
  font-size: 0.75rem;
  font-weight: bold;
  color: rgb(73, 73, 73);
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  width: 100%;
}

.pagination a {
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
  /* border: 1px solid #ddd; */
  margin: 0 4px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.pagination a:hover,
.pagination a.active {
  font-weight: bold;
}

.implyeement_area {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  margin: 20px auto -20px;
}

.implyeement_write {
  text-align: center;
  display: block;
  width: 7%;
  line-height: 20px;
  padding: 3px;
  background-color: #4c7bc9;
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
  border-radius: 5px;
  margin-top: 20px;
}

